* {margin:0px; padding:0px}

img {border:0px}

a:link {color:#2196F3;text-decoration: underline;}

h3 {font-size: 18px;margin-bottom:16px}
h1 {font-size: 22px;margin-bottom:16px;text-align:center}
h2 {font-size: 18px;margin-bottom:16px;text-align:center}
h4 {font-size: 16px}


.tableHeader{margin-left:auto; margin-right:auto;}
.tableParagraph{width:700px; margin-left:auto; margin-right:auto;}
.tableParagraph img {margin-right:12px;margin-bottom:12px}
.container {width:100%; margin:2%;margin-left:auto; margin-right:auto;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;line-height:1.3em;text-align:left}

#content a:link {color:#2196F3;text-decoration: underline;}
#content a:hover {color: #2196F3 !important;}
#content a:visited {color:#2196F3;text-decoration:underline;}



.round_table_content {width:24em;font-size:9px;color:#2196F3;text-align:left;padding-top:7px;}
.round_table_content a {font-size:15px;color:#2196F3;text-align:left;padding-top:7px;}
.round_table_content table td {text-align:left; }
.round_table_content table td img {padding-right:16px;}
.round_table_content img {padding:0;margin:0}

* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Navbar links */
.topnav a {
  float: left;
  display: #2196F3;
  color: #2196F3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color:#2196F3;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
  
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #e9e9e9;
  font-size: 17px;
  border: none;
  cursor: pointer;
   color:#2196F3;
}

.topnav .login-container button:hover {
  background: #ddd
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: #2196F3;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ddd;
  }
 
}
